
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.graph-div{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 15px;
color: greenyellow;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    display: flex;
    font-weight: 200;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    margin: 10px;
    /* background: red; */
}

.graph-div::-webkit-scrollbar-thumb {
    background-color: #8250df;
    border-radius: 10px;
    border: 2px solid #0d011e;
  }