@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

.skill-mainContainer{
   
    background: rgb(0, 0, 0);
    border-radius: 20px;
}

.Skill-box-container{
    padding: 25px 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill ,minmax(300px ,1fr));
}
.title{
    border-radius: 20px;
    text-align: center;
    /* background: #000000c0; */
 
 
}

.redux-image{
    /* padding: 15px; */
    /* width: 100%; */
    /* height: 100% ; */
    object-fit: contain;
    z-index: 2;
    width: 100px;
    height: 100px;
    padding: 10px;
    /* padding-bottom: 10px; */
}

.title p{
    color: white;
}
.title h2{
    padding: 10px;
    font-family: "Tagesschrift", system-ui;
    font-weight: 800;
    font-size: clamp(1rem, 7vw, 2.8rem);
    font-style: normal;

    /* border: 4px solid rgb(235, 14, 14) ; */
    border-radius: 20px;
    text-align: center;
    background: linear-gradient(45deg, #e031bd, #f73803);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}