@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Itim&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lemon&display=swap');

button{
    background: rgba(212, 186, 186, 0.233);
    border-radius: 5px;
    padding: 10px 15px  ;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    border-radius: 23px;
    border: 0.8px solid rgba(255, 255, 255, 0.445);



      display: flex;
      justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
 
    /* align-items: center; */
}

a{
  text-decoration: none;
}
.icon-element{
    /* padding-top: 15px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background: red; */
    /* object-fit: cover; */
    font-size: 18px;
    font-weight: 500;
}