.grid-container {
  background: #000;
  border-radius: 12px;
  display: grid;
  align-items:  center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr)); /* responsive */
  gap: 20px;
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto; /* center on page */
}

  