@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

.project-card {

   font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  /* background: green;  */
  border: 1px solid #dab6b6;
  border-radius: 12px;
  /* overflow: hidden;   */
  width: 320px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
  position: relative;
  z-index: 1;
}



  .project-card:hover {
    transform: translateY(17px);
    /* background: rgb(35, 11, 247); */

    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.527);
  }

.project-image img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.project-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-title {
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
}

.project-description {
  font-size: 0.95rem;
  color: #ffffff;
  line-height: 1.5;
  flex-grow: 1;
}

.project-links {
  display: flex;
  gap: 16px;
}

.project-links a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #3b82f6;
  transition: color 0.2s ease;
}

.project-links a:hover {
  color: #60a5fa;
}
