@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lemon&display=swap');
.heromainsection {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  background: greenyellow;
}

.mainleft {
  width: 60%;
  background: yellow;
}

.mainright {
  width: 40%;
  background: red;
}

.hey-here-text {
  font-family: "Itim", cursive;
}

.main-heading-container  span{
  font-family: "Lemon", serif;
  font-weight: 400;
  font-size: clamp(1rem, 6vw, 2.4rem)
}

.rohit-span{
  background: linear-gradient(45deg, #fc3c0c, #ff1e00, #bd1c16, #2575fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.changing-text-container{
  color: red;
  font-size: clamp(0.6rem, 3vw, 1.4rem)
}







@media (max-width: 578px) {
    .heromainsection {
        display: flex;
        flex-direction: column;
    }

    .mainleft {
        width: 100%;
        background: yellow;
      }
      
      .mainright {
        width: 100%;
        background: red;
      }
      

}