@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Itim&family=Lemon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heromainsection {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  /*   */
  background-size: 600% 600%;
  animation: gradientAnimation 3s ease infinite;
  height: 100vh;
  border-radius: 12px;
}
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.mainleft {
  width: 55%;
  padding: 15px;
  /* background: #290af1; */
}

.mainright {
  width: 45%;
  position: relative;
  
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainright::after{
  content: "";
  position: absolute;
  inset: -5;
  padding: 10px;
  background: linear-gradient(rgba(8, 8, 6, 0.651),rgba(59, 51, 50, 0.171),rgba(19, 16, 13, 0.562));
  animation: imageratation 2s linear infinite both;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1;
  filter: blur(20px);
}

.image-cotnainer{
  position: relative;
  /* background: red ; */
  overflow: hidden  ;
  border-radius: 20%;
  z-index: 2;
}

@keyframes imageratation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}

.hey-here-text {
  font-family: "Itim", cursive;
  color: white;
}

.iam-span {
  color: white;
}

.main-heading-container span {
  font-family: "Lemon", serif;
  font-weight: 400;
  font-size: clamp(1rem, 7vw, 2.8rem);

  /* background: yellow; */
}

.rohit-span {
  background: linear-gradient(45deg, #ff00cc, #f73803);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.changing-text-container {
background: red;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: clamp(0.6rem, 3.4 vw, 1.8rem);

}



.iamdev-container {
  font-size: clamp(0.9rem, 2.4vw, 1.5rem);
  /* background: hotpink; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.details-span {
  font-family: "Itim", cursive;
  font-weight: 200;
  font-style: normal;
  display: inline-block; /* Prevent block stacking */
  vertical-align: middle;
  font-size: clamp(0.8em, 1.1vw, 1em);
  color: white;
}
.social-median-contianer {
  /* background: red; */

  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.icon {
  width: clamp(1em, 1.4vw, 1.5em);
  /* background: red; */
  height: 27px;
  color: white;
}

.btn-container {
  padding-top: 30px;
  /* background: hotpink; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
}

@media (max-width: 578px) {
  .heromainsection {
    display: flex;
    flex-direction: column;
  }

  .mainleft {
    width: 100%;
    /* background: yellow; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* min-height: 70vh; */
  }

  .mainright {
    width: 100%;
    overflow: hidden;
    background: rgba(221, 49, 49, 0.781);
    height: auto;
  
    /* display: none; */
 
  }

  .mainright::after{
    content: "";
    filter: blur(39px);
  }

  .image-cotnainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

 

  .image-cotnainer{
    object-fit: cover;
    background-size: cover;
    background-position: center;
  }
  /* .paragraph-container{

      }

      .details-span{

      }
       */
}


@media (min-width: 579px) and (max-width :1266px){

.mainright::after{
  background: linear-gradient(rgba(31, 31, 20, 0.685),rgba(59, 51, 50, 0.171),rgba(19, 16, 13, 0.562));

}
.heromainsection {
  display: flex;
  flex-direction: column;
}

.mainright{
  overflow: hidden;
}
.image-cotnainer img{
padding-right: 50px;
}
}