@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Roboto+Slab:wght@100..900&display=swap');
 *{
  font-family: "Bevan", serif;
  font-weight: 400;
  font-style: normal;
 }


.contianer{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    max-width: 1280px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.205);
    padding: 5px;
    border-radius: 35px;
    padding: 0 20px;
}

.menu-contianer{
 display: flex;
 align-items: center;
 gap: 10px;
}


.nav-btn-wrapper {
    position: relative;
    display: inline-block;
    border-radius: 999px;
    overflow: hidden;
    padding: 3px;
  }
  
  .nav-btn-wrapper::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(#ff00cc, #3333ff, #00ffcc, #ff00cc);
    animation: spin 2s linear infinite;
    z-index: 0;
  }
  
  .nav-btn {
    display: inline-block;
    padding: 5px 15px;
    background-color: #fff;
    color: #333;
    border-radius: 999px;
    /* font-weight: 600; */
    font-size: 1rem;
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-btn:hover {
    background-color: #333;
    color: #fff;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.menu-icon{
  display: none;

}





  @media (max-width: 578px) {
    .menu-icon{
      display: block;
     
    }

    .menu-contianer {
      display: none;
      flex-direction: column;
      background-color: #0c0c0c;
      padding: 10px;
      position: absolute;
      top: 60px;
      right: 20px;
      border-radius: 10px;
      /* width: 100%; */
    }
    .menu-contianer.active {
      display: flex;
    }
  
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  }

  .king{
    /*i am back csss for t  */
  }