.footer-main-div{
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;

}

.image-div{
    padding: 1px 1px;
}
.social-media img{
    padding: 5px;
    cursor: pointer;
}
.upperdiv{
    /* f */
}


.flex{
    display: flex;
    gap: 8px;
    /* justify-content: center; */
    align-items: center;
}

.lowerdiv{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 8px;
}

.lowerdiv h2{
    font-size: 2em;
    font-weight: 400;
  
}
.lowerdiv span {
    padding-bottom: 6px;
}



@media only screen and (max-width: 600px){
    .footer-main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    padding: 20px 25px;
}
.lowerdiv{
    padding: 17px 0px;
}

}